a:focus {
    outline: none;
}

body {
    background-color: #333;
    padding-top: 30px;
}

#header {
    width: 940px;
    height: 400px;
    margin: auto;
    z-index: 0;
    background: url("../img/Ccabecera.png") no-repeat scroll center center transparent;
}

.ticket {
    background-color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.title-bar {
    padding-top: 30px;
}

.tourself-tab {
    width: 234px;
    height: 55px;
    text-align: right;
    padding-top: 120px;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
}

.flight-info {
    position: relative;
    top: -40px;
}

.hotel-info {
    padding-bottom: 10px;
    position: relative;
    top: -30px;
}

.logo {
    float: left;
    position: relative;
    left: 30px;
    top: -10px;
}

.destination-picker-fieldset {
    padding-left: 60px;
    padding-top: 2px;
}

.tabs-left .nav-tabs > li > a, .tabs-right .nav-tabs > li > a {
    margin-bottom: 0px;
}

.nav li {
    background-color: #f2f2f2;
}

.nav li.active {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #fff;
}

.nav li:first-child {
    margin-top: 0px;
}

.nav li:last-child a {
    border-bottom-left-radius: 15px !important;
    -moz-border-bottom-left-radius: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
}

.nav {
    margin-bottom: 0px;
}

.tabs-left .nav-tabs {
    border-right: 1px solid #999;
}

.tabs-left .nav-tabs {
    margin-right: 0px;
}

.tab-content {
    padding-left: 30px;
    border-top: 1px solid #999;
}

.btn-accept-flight {
    float: right;
    margin-right: 120px;
}

.btn-accept-hotel {
    float: right;
    margin-right: 120px;
}

.btn-back-hotel-picker {
    float: left;
    margin-left: 30px;
}

.btn-print-plan {
    float: right;
    margin-right: 100px;
}

.flight {
    background-image: url('../img/tab-flights-red.png');
}

.hotel {
    background-image: url('../img/tab-hotels-red.png');
}

.plan {
    background: url('../img/TabPlan.png') no-repeat;
}

#footer {
    width: 920px;
    margin: 5px auto;
    font-weight: bold;
    color: #999;
}

#footer a {
    color: #999;
}

#footer .copyright {
    text-align: center;
    width: 220px;
    margin-left: 350px;
    float: left;
    font-size: 16px;
    padding-top: 4px;
}

#footer .terms {
    text-align: right;
    width: 350px;
    float: left;
}
