body {
    background-color: #333;
}

.ticket {
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.title-bar {
    padding-top: 30px;
}

.tourself-tab {
    width: 234px;
    height: 55px;
    text-align: right;
    padding-top: 120px;
    font-size: 16px;
    line-height: 20px;
}

.logo {
    float: left;
    position: relative;
    top: -15px;
    left: 25px;
}

.destination-picker-fieldset {
    padding-left: 60px;
    padding-top: 2px;
}

.nav li {
    margin-top: -4px;
}

.nav li:first-child {
    margin-top: 0px;
}

.nav li:last-child a {
    border-bottom-left-radius: 15px !important;
    -moz-border-bottom-left-radius: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
}

.nav {
    margin-bottom: 0px;
}

.flight {
    background-image: url('../img/tab-flights.png');
}

.hotel {
    background-image: url('../img/tab-hotels-red.png');
}

.plan {
    background-image: url('../img/tab-plan.png');
}
